<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if ENV['com.nocturnalcode.RailsAssistant'].present? %>
    <%= javascript_include_tag 'rails_assistant/rails_assistant' %>
    <%= stylesheet_link_tag 'rails_assistant/rails_assistant' %>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
